@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Goudy+Bookletter+1911&display=swap');
.germania-one-regular {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.goudy-bookletter-1911-regular {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-style: normal;
}

p {
    font-family: "Goudy Bookletter 1911", Garamond, serif;
}
h1 {
    font-family: "Germania One", Arial, Helvetica, sans-serif;
 }